# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ========================
# Environments & Secrets
# ========================
.venv/
venv/
.env
.env.*

# ========================
# Database files
# ========================
*.db
*.sqlite3
baza.db

# ========================
# Media and static files
# ========================
media/
static/
staticfiles/

# ========================
# Logs & temp files
# ========================
*.log
*.tmp
*.bak
*.swp
*.swo

# ========================
# VS Code / IDE
# ========================
.vscode/
.idea/

# ========================
# Docker
# ========================
docker-compose.override.yml
__docker_build__/

# ========================
# Coverage / Testing
# ========================
.coverage
htmlcov/
*.cover
coverage.xml
*.pytest_cache/
.tox/
.cache/
.nox/

# ========================
# Misc
# ========================
.DS_Store
Thumbs.db
