# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы IDE
.venv/
venv/
.env

# Базы данных
*.db
*.sqlite3

# Медиа и статика
/media/
/static/

# Логи и временные файлы
*.log
*.tmp

# Docker
docker-compose.override.yml