Django>=4.2
fastapi>=0.110
uvicorn[standard]>=0.29
python-dotenv>=1.0
starlette>=0.37
pydantic>=2.0
scikit-learn>=1.4
chardet==5.2.0
python-multipart==0.0.6


# Для JWT авторизации
python-jose[cryptography]>=3.3.0

# Для безопасности паролей
passlib[bcrypt]>=1.7.4
